.p12-popover {
    z-index: 10;
    outline: none;
    border-radius: .5rem;  
    color: white;
    background-color: rgba(0,0,0, .4);
    backdrop-filter: blur(24px);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    pointer-events: auto;
}