@import '../../styles/variables.less';

.social {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    position: relative;
    font-family: 'Poppins', sans-serif;
    visibility: visible;
    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0 110px;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 1192px;
        display: flex;
        flex-direction: column;
        z-index: 1;
        pointer-events: none;
        transition: all 0.5s ease-in-out;
        overflow: auto;
        height: 70%;
        .hiddenScrollBar();
    }
    &__community {
        display: flex;
        flex-direction: column;
        &-container {
            width: 100%;
            display: flex;
            gap: 12px;
            margin-bottom: 76px;
            align-items: stretch;
        }
    }
    &__news {
        display: flex;
        flex-direction: column;
    }
    &__title {
        .f-font-tt;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 24px;
        &::after {
            content: '';
            display: inline-block;
            width: 10px;
            height: 2px;
            background: #00d628;
            margin-left: 8px;
        }
    }
    .butterfly-canvas-social {
        opacity: 0.6;
    }
    &.hidden {
        visibility: hidden;
    }
}

/** 移动端适配 */
.body-portrait {
    .social {
        &__wrapper {
            transform: none;
            position: absolute;
            top: 0.8rem;
            left: 0;
            right: 0;
            padding: 0;
            height: auto;
            width: auto;
            overflow: visible;
        }
        &__title {
            text-align: center;
            font-size: 0.15rem;
            line-height: 0.15rem;
            margin-bottom: 0.2rem;
            &::after {
                margin-left: auto;
                margin-right: auto;
                display: block;
                margin-top: 0.14rem;
            }
        }
        &__community {
            &-container {
                width: auto;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0.06rem;
                margin: 0 0.3rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}
