@import '../../styles/variables.less';

.social {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    position: relative;
    font-family: 'Poppins', sans-serif;
    &__wrapper {
        position: absolute;
        padding: 0 90px;
        left: 50%;
        top: 70px;
        padding-top: 9vmin;
        bottom: 7vmin;
        transform: translate(-50%, 0);
        width: 80%;
        max-width: 74.5rem;
        display: flex;
        flex-direction: column;
        height: auto;
        z-index: 1;
        overflow: scroll;
        .hiddenScrollBar();
    }
    &__title {
        .f-font-tt;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        text-transform: uppercase;
        color: #fff;
    }
    &__title-sub {
        color: #ffffff;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 1.875rem;
    }
    &__item-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 20px;
        margin-bottom: 4.75rem;
        align-items: stretch;
    }
    .butterfly-canvas-social {
        opacity: 0.6;
    }
}
