@import '../../../styles/variables.less';

.wall-gl {
    .f-pseudo();
}

canvas#butterfly {
    position: absolute;
    top: 0;
    opacity: 0.3;
    transition: opacity 2s ease-in-out;
}

.dg.ac {
    z-index: 999 !important;
}
