@import '../../styles/variables.less';

.avatar {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &__nav {
        z-index: 20;
        position: absolute;
        right: (47 / @designWidth * 100%);
        top: 50%;
        transform: translate(0, -50%);

        &-item {
            position: relative;
            cursor: pointer;
            width: 12px;
            height: 12px;
            background: #525252;
            border-radius: 50%;
            transition: background 0.3s;
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }

            &::after {
                content: '';
                .f-align(24px, 24px);
            }

            &:hover,
            &.active {
                background: #ffffff;
            }
        }
    }

    &__info {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translate(0, -50%);
        left: (60 / @designWidth * 100%);
        user-select: none;
    }
    &__slogan {
        .bgFull2x('home/slogan@2x.png');
        margin-left: -6px;
    }
    &__sub-title {
        margin-top: 26px;
        margin-bottom: 26px;
        margin-left: -5px;
    }
    &__small-text-1 {
        margin-top: 12px;
        margin-bottom: 17px;
    }
    &__small-text-2 {
        padding-bottom: 45px;
    }

    &__extra {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translate(0, -50%);
        right: (140 / @designWidth * 100%);
        pointer-events: none;
        padding-bottom: 20px;

        &-title {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;

            &::after {
                display: none;
            }
        }
        &-text {
            line-height: 24px;
        }
    }

    &__btn {
        .bgFull2x('avatar/arrow-1@2x.png');
        cursor: pointer;

        &--right {
            transform: rotate(180deg);
            margin-left: 28px;
        }

        &:hover {
            .bgFull2x('avatar/arrow-2@2x.png');
        }

        &-wrap {
            display: flex;
        }
    }
}
