@import '../../styles/variables.less';

.tree {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #000;

    &::after {
        content: '';
        position: absolute;
        z-index: 10;
        left: 0;
        width: 100%;
        top: 0;
        height: 150px;
        pointer-events: none;
        background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }

    &__info {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translate(0, -50%);
        left: (60 / @designWidth * 100%);
        user-select: none;
        pointer-events: none;
    }
    &__slogan {
        .bgFull2x('tree/slogan@2x.png');
        margin-left: -6px;
    }
    &__small-title {
        margin-top: 24px;
        margin-bottom: 10px;
    }
    &__small-text-1 {
        line-height: 22px;
        margin-bottom: 20px;
        color: rgba(255, 255, 255, 0.95);
    }
    &__details {
        position: relative;
        .f-font-tt;
        padding-left: 24px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 6px;
            left: 0;
            width: 1px;
            height: 13px;
            background: #00d628;
            opacity: 0.7;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 23px;
            left: 0;
            width: 1px;
            background: #fff;
            opacity: 0.3;
            bottom: 8px;
        }
    }
    &__detail {
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        padding: 3px 0;
        opacity: 0.9;
    }

    &__extra {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translate(0, -50%);
        right: (60 / @designWidth * 100%);
        user-select: none;
        .f-font-tt;
        color: #fff;

        &-info {
            font-size: 14px;
            line-height: 20px;
            opacity: 0.5;
        }
        &-link {
            display: block;
            .bgFull2x('tree/btn-download@2x.png');
            opacity: 1;
            transition: opacity 0.3s;
            margin: 13px 0 20px;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

/** 移动端适配 */
.body-portrait {
    .tree {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.16rem;
        padding-bottom: 1rem;
        transform: translateY(-0.5rem);
        &::after {
            display: none;
        }
        &-gl {
            transform: none;
            position: relative;
            height: 5.3rem;
            top: auto;
            left: auto;
        }
        &__info {
            transform: none;
            position: relative;
            top: 0;
            left: 0.3rem;
            margin-top: -1.2rem;
        }
        &__small-title {
            margin: 0.1rem 0 0.06rem;
        }
        &__slogan {
            width: 1.67rem;
            height: 0.3525rem;
            margin: 0;
        }

        &__details {
            display: none;
        }
        &__extra {
            transform: none;
            position: relative;
            top: 0;
            left: 0.3rem;
            &::before {
                height: 1px;
                content: '';
                display: block;
                position: absolute;
                left: 0;
                right: auto;
                width: 0.08rem;
                top: 0;
                background-color: #00d628;
                opacity: 0.6;
            }
            &::after {
                height: 1px;
                content: '';
                display: block;
                position: absolute;
                left: 0.1rem;
                right: 0;
                top: 0;
                background: linear-gradient(90deg, #ffffff 0%, rgba(0, 0, 0, 0) 100%);
                opacity: 0.3;
            }
            &-link {
                margin: 0;
                margin-top: 0.18rem;
            }
            &-info {
                display: none;
            }
        }
    }
}
