@import '../../styles/variables.less';

.tree {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    &__info {
        .bgFull2x('tree/info@2x.png');
        position: absolute;
        left: 67px;
        bottom: 70px;
    }
    &__content {
        .f-alignImg2x('tree/content@2x.png');
    }
}
