@import '../../../styles/variables.less';

.about__card {
    display: flex;
    flex-direction: column;
    padding: 16px 20px;
    width: 280px;
    .f-rect-corner(10px);
}
.about__card {
    gap: 8px;
    &--name {
        font-size: 20px;
        line-height: 26px;
        color: #fff;
        .f-font-tt;
        margin-bottom: 4px;
        & > .sep {
            margin: 0 10px;
            font-family: Arial;
            color: #333;
        }
        &-sub {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 22px;
            color: #ffffffcc;
            .f-font-tt;
        }
    }
    &--social {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 14px;
        line-height: 18px;
        vertical-align: middle;
        &::before {
            display: inline-block;
            width: 18px;
            height: 18px;
            background-size: contain;
            content: '';
        }
        &.email::before {
            .bg('about/contact-email.svg');
        }
        &.phone::before {
            .bg('about/contact-phone.svg');
        }
        &.location::before {
            .bg('about/contact-location.svg');
        }
    }
}
