@import '../../../styles/variables.less';

.poster-arcana-works {
    padding: 20px 16px;
    user-select: none;
    overflow: hidden;
    .f-font-tt();
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 18px;
    }
    .poster-arcana-works__swiper {
        width: 720px;
    }
}

/** 移动端适配 */
.body-portrait {
    .poster-arcana-works {   
        padding: 0.2rem 0;
        gap: 0.2rem;
        h1 {
            font-size: 0.24rem;
            line-height: 0.18rem;
        }
        .poster-arcana-works__swiper {
            width: 100%;
        }
    }
}