@import '../../../../styles/variables.less';

.new-dialog {
    &__title {
        height: 44px;
        width: 176px;
        .bgFull('social/p12news-title.svg');
        width: 176px;
    }
    &__subtitle {
        display: flex;
        align-items: center;
        gap: 12px;
        img {
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
        }
    }
}
