.new-dialog {
    &__subtitle {
        display: flex;
        align-items: center;
        gap: 12px;
        img {
            width: 1.875rem;
            height: 1.875rem;
            border-radius: 50%;
        }
    }
}