@import '../../../../styles/variables.less';

.social-news {
    display: flex;
    gap: 24px;
    margin: 6px -86px 0;
    &-list {
        padding-top: 6px;
        width: 100%;
        display: flex;
        gap: 20px;
        overflow: scroll;
        pointer-events: auto;
        .hiddenScrollBar();
    }
    .social-next {
        box-sizing: border-box;
        cursor: pointer;
        pointer-events: auto;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 62px;
        aspect-ratio: 1/1;
        background: rgba(0, 0, 0, 0.4);
        // backdrop-filter: blur(3px);
        border-radius: 12px;
        position: relative;
        // mobile increased touchable area
        &::before {
            content: '';
            display: block;
            width: 200%;
            position: absolute;
            pointer-events: auto;
            transform: scaleY(7);
            top: 0;
            bottom: 0;
        }
        .social-next-icon {
            display: block;
            width: 15.74px;
            height: 15.34px;
            .bg('social/arrow-next.svg');
            background-position: 50% 50%;
        }
        border: 1px solid #959799;
        border-radius: 50%;
        &:hover {
            background: rgb(255, 255, 255);
            border-color: white;
            .social-next-icon {
                filter: brightness(0);
            }
        }
    }
    .social-pre {
        .social-next();
        transform: rotate(180deg);
    }
}

.social-new {
    cursor: pointer;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    width: 384px;
    box-sizing: border-box;
    transition: all 0.1s linear;
    &:hover {
        transform: translate(0, -5px);
    }
    &__cover {
        border-radius: 12px 12px 0 0;
        height: 100%;
        width: 100%;
        background: rgba(146, 139, 139, 0.4);
        // backdrop-filter: blur(15px);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        height: 216px;
        img {
            aspect-ratio: 384/216;
            display: block;
            height: 100%;
            // max-height: 176px;
            object-fit: contain;
        }
    }
    &__label {
        background-color: rgba(0, 0, 0, 0.2);
        border: 1px solid;
        border-radius: 100px;
        padding: 0 12px;
        font-family: 'Poppins';
        font-size: 12px;
        line-height: 18px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        padding: 24px;
        border-radius: 0 0 12px 12px;
        border: 1.2px solid #ffffff29;
        background: rgba(0, 0, 0, 0.4);
        // backdrop-filter: blur(5px);
        &-header {
            display: flex;
            align-items: center;
            gap: 10px;
            &__title {
                max-width: 100%;
                font-weight: 600;
                font-size: 16px;
                line-height: 18px;
                vertical-align: middle;
                color: #ffffff;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
        }
        &-desc {
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            & > p {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #ffffff;
            }
        }
        &-subtitle {
            margin-top: 4px;
            font-family: 'DIN-Regular';
            font-size: 12px;
            color: #a5a6ab;
        }
    }
}

/** 移动端适配 */
.body-portrait {
    .social-news {
        width: auto;
        margin: 0 -0.2rem;
        gap: 0.16rem;
        .social-next,
        .social-pre {
            width: 0.4rem;
            &-icon {
                width: 0.08rem;
                background-size: contain;
            }
        }
        &-list {
            padding-top: 0;
            width: 2.5rem;
        }
    }
    .social-news-list {
        width: 100%;
    }
    .social-new {
        width: 2.5rem;
        &__cover {
            height: 1.4rem;
            border-radius: 0.08rem 0.08rem 0 0;
        }
        &__content {
            padding: 0.15rem;
            gap: 0.06rem;
            &-header {
                gap: 0.06rem;
                &__title {
                    font-size: 0.105rem;
                    line-height: 0.105rem;
                }
            }
            &-desc {
                font-size: 0.09rem;
                line-height: 0.126rem;
                & > p {
                    font-size: 0.09rem;
                    line-height: 0.126rem;
                }
            }
            &-subtitle {
                margin-top: 0.04rem;
                font-size: 0.09rem;
                line-height: 0.09rem;
            }
        }
        &__label {
            font-size: 0.0648rem;
            line-height: 0.0648rem;
            padding: 0.054rem 0.02rem;
        }
    }
}
