@import '../../../styles/variables.less';

.social-item {
    padding: 20px;
    display: flex;
    gap: 20px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    border-radius: 12px;
    border: 1.2px solid #ffffff29;
    overflow: hidden;
    background-size: 105% 105%;
    background-position: 50% 50%;
    transition: 0.1s linear;
    &:hover {
        transform: translate(0, -5px);
    }
    &.discord {
        .bg('social/discord-mask.png');
    }
    &.twitter {
        .bg('social/twitter-mask.png');
    }
    &.mirror {
        .bg('social/mirror-mask.png');
    }
    &__icon {
        height: 36px;
    }
    &__content {
        display: flex;
        align-items: center;
        gap: 12px;
        &-title {
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            color: #ffffff;
        }
        &-desc {
            text-align: center;
            color: #ffffff99;
            margin-top: 2px;
        }
    }
}
