html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 0;
    position: absolute;
    z-index: -1;
}

canvas {
    position: absolute;
    top: 0;
    /* z-index: -1; */
}

input {
    width: 70%;
}

label {
    width: 25%;
}

.cell {
    display: flex;
    justify-content: space-evenly;
}

#slide-container {
    opacity: .5;
    top: 0;
    right: 0;
    width: 350px;
    background-color: white;
    z-index: 2;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    row-gap: 5px;
    margin: 0;
    position: absolute;
}

.slide-cell {
    height: 40px;
}