@import '../../../styles/variables.less';

.avatar-gl {
    .f-pseudo();
    overflow: hidden;
}

.avatar-circle {
    .f-alignImg2x('avatar/circle@2x.png');
    pointer-events: none;
}

.avatar-particle {
    .f-align(1920px, 1080px);
    display: none;
    overflow: hidden;
    background-repeat: no-repeat;
}
