@import '../../../styles/variables.less';

.avatar-gl {
    .f-pseudo();
    overflow: hidden;

    .avatar-gl-renderer-wrap,
    .avatar-gl-container {
        .f-pseudo();
        top: 0;
        bottom: auto;
        overflow: hidden;

        canvas {
            position: absolute;
            left: 0;
            top: 0;
            bottom: auto;
        }
    }

    .avatar-gl-canvas-wrap {
        .f-pseudo();
        top: auto;
        bottom: 0;
        overflow: hidden;

        canvas {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            top: auto;
            bottom: 0;
        }
    }

    .avatar-lowpoly-btn-wrap {
        position: absolute;
        z-index: 10;
        right: 120px;
        top: 120px;
        .avatar-lowpoly-switch-btn {
            width: 200px;
            height: 200px;
            &--lowpoly {
                background: #f00;
            }
            &--particle {
                background: #0f0;
            }
        }
    }
}

.avatar-circle {
    .f-alignImg2x('avatar/circle@2x.png');
    pointer-events: none;
    z-index: 10;
}

// .avatar-particle {
//     .f-align(1920px, 1080px);
//     display: none;
//     overflow: hidden;
//     background-repeat: no-repeat;
// }
