@import '../../styles/variables.less';

.app {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .content {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 2;

        .page-wrap {
            .f-pseudo;
            z-index: 3;
            pointer-events: none;
            // display: none;
            opacity: 0;
            overflow: hidden;
            // 出现层在下面出来
            &.active {
                z-index: 2;
                pointer-events: auto;
            }
        }
    }

    .logo {
        position: absolute;
        .bgFull2x('app/logo@2x.png');
        left: (62 / @designWidth * 100%);
        top: (54 / @designHeight * 100%);
        z-index: 99;
        .f-hover-opa;
        cursor: pointer;
    }

    .badge-wrap {
        position: absolute;
        .bgFull2x('app/badge-circle@2x.png');
        background: none;
        bottom: (44 / @designHeight * 100%);
        left: (60 / @designWidth * 100%);
        z-index: 99;

        .badge-circle {
            .f-alignImg2x('app/badge-circle@2x.png');
            animation: badgecircle 16s infinite linear;
            animation-play-state: paused;
        }
        &:hover {
            .badge-circle {
                animation-play-state: running;
            }
        }
        .badge-icon {
            .f-alignImg2x('app/badge-h1@2x.png');
            transition: opacity 0.3s;
            &--1 {
                .bg('app/badge-h1@2x.png');
            }
            &--2 {
                .bg('app/badge-h2@2x.png');
            }
            &--3 {
                .bg('app/badge-h3@2x.png');
            }
            &--4 {
                .bg('app/badge-h4@2x.png');
            }
            &--5 {
                .bg('app/badge-h5@2x.png');
            }
        }
    }

    .coming-btn {
        position: absolute;
        .bgFull2x('app/corners@2x.png');
        background-size: 100% 100%;
        width: 128px;
        top: (45 / @designHeight * 100%);
        right: (40 / @designWidth * 100%);
        z-index: 99;
        .f-hover-opa;
        transform: scale(0.9);
        cursor: pointer;

        &__item {
            .bgFull2x('app/coming-info@2x.png');
            margin: 20px auto;
        }

        @keyframes pulse {
            50% {
                transform: scale(0.95);
            }
        }

        &.pulse {
            animation: pulse 1s ease infinite;
        }
    }

    .footer {
        position: absolute;
        bottom: (40 / @designHeight * 100%);
        right: (60 / @designWidth * 100%);
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__info {
            .bgFull('app/footer-info.png');
            transform: scale(0.87);
        }

        &__audio {
            margin-left: 35px;
            display: flex;
            cursor: pointer;
            .f-hover-opa;
            position: relative;

            // 用于扩大可触摸范围
            &::before {
                content: '';
                .f-pseudo;
                transform: scale(1.8, 1.8);
            }

            &-item {
                display: block;
                width: 11px;
                height: 29px;
                background: #00cce6;
                transform: scale(1, 0.2);
                transform-origin: center bottom;
                opacity: 0.8;
                margin-right: 3px;
                &:last-child {
                    margin-right: 0;
                }
            }

            &.active .footer__audio-item {
                animation: musicplay 0.6s infinite alternate;
                &:nth-child(1) {
                    animation-delay: 0s;
                }
                &:nth-child(2) {
                    animation-delay: -0.2s;
                }
                &:nth-child(3) {
                    animation-delay: -0.3s;
                }
            }
        }
    }

    &__mouse-tips {
        .f-alignImg2x('app/mouse-tips-pc@2x.png');
        transform-origin: bottom center;
        transform: scale(0.4);
        top: auto;
        margin-top: 0;
        z-index: 20;
        bottom: 30px;
        animation: mouseupdownpc 0.5s infinite alternate;
        cursor: pointer;
    }
}

@keyframes mouseupdownpc {
    0% {
        transform: scale(0.4) translateY(10px);
    }

    100% {
        transform: scale(0.4) translateY(-10px);
    }
}

@keyframes mouseDownWave {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes musicplay {
    100% {
        transform: scale(1, 1);
    }
}

@keyframes badgecircle {
    100% {
        transform: rotate(360deg);
    }
}

.app-sub-title {
    .f-font-tt;
    font-size: 40px;
    line-height: 40px;
    color: #fff;

    &__block {
        display: inline-block;
        height: 1em;
        transform: scale(1, 0.75);
        opacity: 0.5;
        border-right: 3px solid #fff;
        vertical-align: top;
        margin: 0 20px;
    }
}

.app-small-title {
    .f-font-tt;
    font-size: 27px;
    line-height: 27px;
    color: #fff;

    &.app-small-title--with-block {
        &::after {
            display: inline-block;
            content: '';
            width: 12px;
            height: 2px;
            background: #00d628;
            opacity: 0.8;
            margin-left: 10px;
        }
    }
}
.app-small-text {
    .f-font-tt;
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.6);
}

.app-container-loading {
    &::after {
        content: 'Loading...';
        .f-font-tt;
        font-size: 20px;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 99;
    }

    &.loading::after {
        opacity: 1;
    }
}

/** loading 时，隐藏其余内容 */
.app.app--loading {
    > * {
        display: none;
        pointer-events: none;
    }

    > .content {
        display: block;
        pointer-events: auto;
    }
}

/** 移动端适配 */
.body-portrait {
    .app {
        .logo {
            width: 0.4725rem;
            height: 0.2175rem;
            top: 0.3rem;
            left: 0.3rem;
        }
        .badge {
            &-wrap {
                width: 0.36rem;
                height: 0.36rem;
                bottom: 0.3rem;
                left: auto;
                right: 0.3rem;
            }
            &-circle {
                width: 0.36rem;
                height: 0.36rem;
                margin: 0;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            &-icon {
                width: 0.28rem;
                height: 0.28rem;
                margin: 0;
                left: 0.04rem;
                right: 0.04rem;
                top: 0.04rem;
                bottom: 0.04rem;
            }
        }
        .footer {
            display: none;
        }

        &__mouse-tips {
            background-image: none;
            transform: none;
            margin: 0;
            height: auto;
            width: auto;
            top: auto;
            left: auto;
            right: 50%;
            transform: translateX(50%);
            bottom: 0.2rem;
            animation: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.16rem;
            -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
            &.wave .app__mouse-tips-item::after {
                display: block;
                animation: mouseDownWave 1.2s infinite;
            }
            &-item {
                width: 0.34rem;
                height: 0.34rem;
                background: rgba(0, 0, 0, 0.8);
                border-radius: 100%;
                border: 1px solid #ffffffcc;
                opacity: 0.8;
                position: relative;
                .f-align-center();
                &::before {
                    content: '';
                    display: block;
                    width: 0.12rem;
                    height: 0.12rem;
                    background-size: 100% 100%;
                    .bg('app/arrow@2x.png');
                    filter: brightness(3);
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: -0.01rem;
                    left: -0.01rem;
                    bottom: -0.01rem;
                    right: -0.01rem;
                    border-radius: 100%;
                    border: 1px solid #ffffff;
                    opacity: 0.6;
                }
            }
            &-prev {
                transform: rotate(180deg);
            }
        }
        &-sub-title {
            font-size: 0.2rem;
            line-height: 0.2025rem;
            &__block {
                margin: 0 0.08rem;
            }
        }
        &-small {
            &-title {
                font-size: 0.14rem;
                line-height: 0.15rem;
                &.app-small-title--with-block {
                    &::after {
                        width: 0.085rem;
                        margin-left: 0.02rem;
                    }
                }
            }
            &-text {
                font-size: 0.12rem;
                line-height: 0.14rem;
                margin: 0;
            }
        }
    }
    .coming-btn {
        display: none;
    }
}
