.app {
    width: 100%;
    height: 100%;
    position: relative;

    .logo {
        position: absolute;
        width: 112px;
        height: 55px;
        left: 56px;
        top: 57px;
        z-index: 99;
    }

    .content {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}
