.f-font-tt {
  font-family: TTLakes, Arial, Helvetica, Verdana, sans-serif;
}
.hiddenScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hiddenScrollBar::-webkit-scrollbar {
  display: none;
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: #000;
}
.loading__progress {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100px;
  margin: -50px 0 0 -50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding-top: 5.1vh;
  pointer-events: none;
}
.loading__progress-dot {
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  opacity: 0.8;
  margin: 0 5.5px;
  border-radius: 50%;
}
.loading__progress-dot--1,
.loading__progress-dot--6 {
  opacity: 0.1;
}
.loading__progress-dot--2,
.loading__progress-dot--5 {
  opacity: 0.4;
}
.loading__progress-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  width: 92px;
  font-family: TTLakes, Arial, Helvetica, Verdana, sans-serif;
}
.loading__logo {
  pointer-events: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -155%);
  user-select: none;
}
.loading__logo > img {
  cursor: pointer;
}
.loading__links {
  pointer-events: none;
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 80%;
  max-width: 1200px;
}
.loading__links path {
  fill: white;
}
.loading__icon-link {
  pointer-events: auto;
  width: 5%;
  max-width: 60px;
}
.loading__rotate {
  display: none;
}
.body-mobile .loading__logo {
  transform: translate(-50%, -155%) scale(0.7);
}
.body-mobile .loading__links {
  max-width: unset;
}
.body-mobile .loading__icon-link {
  max-width: unset;
  width: 34px;
}
.body-mobile.body-portrait .loading {
  pointer-events: auto;
}
.body-mobile.body-portrait .loading__links {
  width: 65%;
  bottom: auto;
  top: 50%;
  margin-top: -25px;
}
.body-mobile.body-portrait .loading__icon-link {
  width: 30px;
}
.body-mobile.body-portrait .loading__progress {
  transform: scale(0.6);
  top: auto;
  margin-top: 0;
  bottom: -3%;
}
.body-mobile.body-landscape .loading__logo {
  transform: translate(-50%, -110%) scale(0.8);
}
.body-mobile.body-landscape .loading__progress {
  transform: scale(0.75);
  margin-top: -10px;
}
.body-mobile.body-landscape .loading__links {
  bottom: 8%;
}
.body-portrait .loading__rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
  color: #fff;
  text-align: center;
  font-family: TTLakes, Arial, Helvetica, Verdana, sans-serif;
  font-size: 14px;
  line-height: 18px;
  pointer-events: none;
  bottom: 15%;
}
.body-portrait .loading__rotate::before {
  content: '';
  display: block;
  background-image: url('../assets/loading/loading-rotate.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 52px;
  height: 55px;
  margin-bottom: 10px;
  margin-left: -14px;
}
