@import '../../styles/variables.less';

.poster {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &__bg {
        position: absolute;
        overflow: hidden;
    }
    &__img-wrap {
        .f-pseudo();
        transform: translate3d(0, 0, 0);
        will-change: transform;
    }
    &__img {
        .f-pseudo();
    }

    &__info {
        position: absolute;
        z-index: 10;
        top: 50%;
        margin-top: -150px;
        right: (60 / @designWidth * 100%);
        text-align: left;
        user-select: none;

        &-wrap {
            .f-pseudo();
        }
    }
    &__slogan {
        .bgFull2x('poster/slogan@2x.png');
    }
    &__sub-title.app-sub-title {
        margin-top: 7px;
        margin-bottom: 9px;
        font-size: 28px;
        font-weight: 600;
        line-height: 28px;
        text-transform: uppercase;
    }
    &__small-text-1.app-small-text {
        color: white;
        margin-bottom: 6px;
    }

    &__features {
        display: flex;
        align-items: flex-start;
        padding-top: 42px;
        position: relative;

        &-title {
            font-size: 20px;
            height: 20px;
            color: #fff;
            .f-font-tt();

            padding-right: 16px;
            margin-top: -4px;
        }

        &-item {
            &-title {
                .f-font-tt();
                color: #000;
                font-size: 16px;
                line-height: 22px;
                background: #fff;
                border-radius: 4px;
                display: inline-block;
                padding: 0 8px;
                position: relative;
                margin-left: 26px;
                margin-bottom: 19px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    transform: scale(1, 0.7);
                    left: -22px;
                    background: #fff;
                    opacity: 0.7;
                }
            }
            &-desc {
                color: #fff;
                font-size: 16px;
                line-height: 18px;
                margin-bottom: 6px;
                margin-left: 26px;
                position: relative;
                .f-font-tt();
                &::before {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    transform: scale(1, 0.9);
                    left: -22px;
                    background: #fff;
                    opacity: 0.15;
                }
            }
        }
    }
}

.poster-features-swiper-container {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 400px;

    .swiper-slide {
        width: 100%;
        height: 100%;
    }
}

.poster-logos-swiper-container {
    position: absolute;
    right: 5.6%;
    bottom: 40.6%;
    width: 7.36416%;
    height: 2.8%;
    overflow: hidden;

    .swiper-wrapper {
        align-items: center;
    }

    .swiper-slide {
        width: 90%;
        height: 100%;
        background-size: contain;
        background-position: center;
        &--1 {
            .bg('wall/partners/primavera.png');
        }
        &--2 {
            .bg('wall/partners/metaapp.png');
        }
        &--3 {
            .bg('wall/partners/CCV.png');
        }
        &--4 {
            .bg('wall/partners/cyber connect.png');
        }
        &--5 {
            .bg('wall/partners/smrtiLab.png');
        }
        &--6 {
            .bg('wall/partners/bnbChain.png');
        }
        &--7 {
            .bg('wall/partners/galxe.png');
        }
        &--8 {
            .bg('wall/partners/questn.png');
        }
        &--9 {
            .bg('wall/partners/spaceID.png');
        }
        &--10 {
            .bg('wall/partners/salad.png');
        }
        &--11 {
            .bg('wall/partners/archloot.png');
        }
        &--12 {
            .bg('wall/partners/ambrusStudio.png');
        }
        &--13 {
            .bg('wall/partners/yeehaGames.png');
        }
        &--14 {
            .bg('wall/partners/mixmob.png');
        }
        &--15 {
            .bg('wall/partners/WOB.png');
        }
        &--16 {
            .bg('wall/partners/revoland.png');
        }
        &--17 {
            .bg('wall/partners/bitKeep.png');
        }
    }
}

/** 移动端适配 */
.body-portrait {
    .poster {
        &__info {
            transform: none;
            margin: 0;
            top: 0;
            left: 0;
            right: 0;

            &-wrap {
                top: 0.8rem;
                left: 0.3rem;
                right: 0.3rem;
                bottom: 0.3rem;
                width: auto;
                height: auto;
            }
            .poster__sub-title {
                font-size: 0.14rem;
                line-height: 0.14rem;
                margin: 0.1rem 0;
            }
            .app-small-text {
                display: none;
            }
        }
        &__features {
            padding: 0;
            &-title {
                font-size: 0.12rem;
                line-height: 0.12rem;
                font-weight: 600;
                padding-right: 0.12rem;
            }
            &-swiper-container {
                background-color: gray;
                height: auto;
            }
            &-item {
                display: flex;
                flex-direction: column;
                height: auto;
                align-items: flex-start;
                &-title {
                    margin-left: 0.12rem;
                    margin-bottom: 0.07rem;
                    padding: 0.03rem;
                    font-size: 0.12rem;
                    line-height: 0.1rem;
                    font-weight: 600;
                    &::before {
                        height: 0.1rem;
                        transform: none;
                        left: -0.12rem;
                    }
                }
                &-desc {
                    margin-left: 0.12rem;
                    font-size: 0.12rem;
                    line-height: 0.12rem;
                    &::before {
                        left: -0.12rem;
                    }
                }
            }
        }
        &__slogan {
            margin: 0;
            width: 100%;
            height: 0.5rem;
        }
        &__bg {
            display: none;
        }
    }
}

@media screen and (max-height: 425px) and (orientation: landscape) {
    .poster__info {
        transform: scale(0.6) translate(5%, 70%);
    }
    .poster__features {
        display: none;
    }
}
