@import '../../styles/variables.less';
// @import '~swiper/swiper.less';

.poster {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &__bg {
        position: absolute;
        overflow: hidden;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
    }
    &__img {
        .f-pseudo();
        background-size: auto 100%;
        background-position: center;
        &--0 {
            .bg('poster/0.png');
        }
        &--1 {
            .bg('poster/1.png');
        }
        &--2 {
            .bg('poster/2.png');
        }
        &--3 {
            .bg('poster/3.png');
        }
        &--4 {
            .bg('poster/4.png');
        }
        &--5 {
            .bg('poster/5.png');
        }
    }
}

.poster-swiper-container {
    position: absolute;
    right: 116px;
    bottom: 437px;
    .bgFull2x('poster/logo-1.png');
    background: none;
    overflow: hidden;

    .swiper-slide {
        .bgFull2x('poster/logo-1.png');
        &--1 {
            .bg('poster/logo-1.png');
        }
        &--2 {
            .bg('poster/logo-2.png');
        }
        &--3 {
            .bg('poster/logo-3.png');
        }
        &--4 {
            .bg('poster/logo-4.png');
        }
        &--5 {
            .bg('poster/logo-5.png');
        }
        &--6 {
            .bg('poster/logo-6.png');
        }
        &--7 {
            .bg('poster/logo-7.png');
        }
    }
}
