@import '../../styles/variables.less';

.wall {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #000;

    &__info {
        .f-pal50;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        flex-direction: column;
        pointer-events: none;
    }

    &__title-1,
    &__title-2 {
        .f-font-tt;
        color: #fff;
        font-size: 22px;
        line-height: 22px;
        opacity: 0.8;
    }

    &__dot-1,
    &__dot-2 {
        display: inline-block;
        width: 10px;
        height: 2px;
        background: #00d628;
        margin-top: 30px;
        margin-bottom: 36px;
        opacity: 0.8;
    }

    &__logo-1 {
        .bgFull2x('wall/logo-1@2x.png');
        margin-bottom: 80px;
        height: 136px;
    }

    &__logo-2 {
        .bgFull2x('wall/logo-2@2x.png');
    }

    .butterfly-canvas-wall {
        opacity: 0.6;
    }
}

.body-mobile {
    .wall {
        &__info {
            transform: translate(-50%, -50%) scale(0.47);
            transform-origin: center center;
        }

        &__logo-1 {
            .bgFull('wall/logo-1.png');
        }
    
        &__logo-2 {
            .bgFull('wall/logo-2.png');
        }
    }
}
